  <div class="main">
    <table>
      <tbody>
        <tr>
          <th>reader id : </th>
          <td>000xuht</td>
        </tr>
        <tr>
          <th>IPv4 Address : </th>
          <td>192.168.7.101</td>
        </tr>
        <tr>
          <th>Subnet Mask : </th>
          <td>255.255.255.0</td>
        </tr>
        <tr>
          <th>Gateway : </th>
          <td>192.168.7.1</td>
        </tr>
      </tbody>
    </table>  
  </div>
