<form action="">
  <div class="main">
    <h1>Register</h1>
    <p>Please fill in this form to setting a reader</p>
    <hr>

    <label for="ip_server"><b>IP Server</b></label>
    <input type="text" placeholder="Enter IP Server" name="ip_server" id="ip_server" required>

    <label for="port"><b>PORT</b></label>
    <input type="text" placeholder="Enter Port" name="port" id="port" required>

    <label for="reader_name"><b>ID Reader</b></label>
    <input type="text" placeholder="reader" name="reader" id="reader" required>

    <button type="submit" class="Savebtn">Save</button>
  </div>
</form>