<div class="sidebar">
    <ul>
      <li>
          <a href="/" class="active">
              <span class="icon"><i class="fas fa-home"></i></span>
              <span class="item">Home</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon"><i class="fas fa-desktop"></i></span>
              <span class="item">My Dashboard</span>
          </a>
      </li>
      <li>
          <a href="/api">
              <span class="icon"><i class="fas fa-code"></i></span>
              <span class="item">API</span>
          </a>
      </li>
      <li>
        <a href="/alarm">
            <span class="icon"><i class="far fa-bell"></i></span>
            <span class="item">Alarm</span>
        </a>
    </li>
      <li>
          <a href="#">
              <span class="icon"><i class="fas fa-chart-line"></i></span>
              <span class="item">Reports</span>
          </a>
      </li>
      <li>
          <a href="/setting">
              <span class="icon"><i class="fas fa-cog"></i></span>
              <span class="item">Settings</span>
          </a>
      </li>
  </ul>
</div>
