<div class="sidebar">
    <ul>
      <li>
          <a href="#" class="active">
              <span class="icon"><i class="fas fa-home"></i></span>
              <span class="item">Home</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon"><i class="fas fa-desktop"></i></span>
              <span class="item">My Dashboard</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon"><i class="fas fa-database"></i></span>
              <span class="item">Development</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon"><i class="fas fa-chart-line"></i></span>
              <span class="item">Reports</span>
          </a>
      </li>
      <li>
          <a href="#">
              <span class="icon"><i class="fas fa-cog"></i></span>
              <span class="item">Settings</span>
          </a>
      </li>
  </ul>
</div>
