@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f5f6fa;
}

.sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.sidebar ul li a:hover,
.sidebar ul li a.active{
  color: #0c7db1;
  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.sidebar ul li a:hover .icon,
.sidebar ul li a.active .icon{
  color: #0c7db1;
}

.sidebar ul li a:hover::before,
.sidebar ul li a.active::before{
  display: block;
}


div.content {
  padding: 1px 16px;
  height: 1000px;
}

/* Setting */
.main{
  padding: 16px;
  background-color: white;
}

input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
}

input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.Savebtn{
  background-color: #10558d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.Savebtn:hover{
  opacity: 1;
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}


@media screen and (max-widt: 1000px){
  .main,
  aside{
      width: 100%;
      padding: 0;
  }
  .container{
      display: block;
  }

}