<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<div class="container-fluid">
  <div class="row flex-nowrap">
      <%- include('../partials/sidebar'); %>
      <div class="col py-3">
        <h4 class="bg-dark text-white">Alarm Setting : </h5>

        <div class="container">
          <form role="form">
              <div class="row">
                  <div class="form-group col-lg-5">
                      <label for="code">Name</label>
                      <input type="text" class="form-control" />
                  </div>
              </div>
      
              <div class="row">
                  <div class="form-group col-lg-5 ">
                      <label for="code">Email</label>
                      <input type="text" class="form-control input-normal" />
                  </div>
              </div>
              <div class="row">
                  <button type="submit" class="btn btn-default">Submit</button>
              </div>
          </form>
      </div>
      </div>
    </div>
  </div>  
</html>