<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<div class="container-fluid">
  <div class="row flex-nowrap">
      <%- include('../partials/sidebar'); %>
      <div class="col py-5">
        <h4 class="bg-dark text-white">API Setting : </h5>
          <br><br><br>
          <div class="container center_div">
            <form id="api" class="form" action="" method="post">
              <div class="row mb-4">
                  <label for="inputURL" class="col-sm-1 col-form-label">URL : </label>
                  <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputURL" placeholder="URL ">
                  </div>
              </div>
              <div class="row mb-3">
                  <label for="api_key" class="col-sm-1 col-form-label">api_key : </label>
                  <div class="col-sm-5">
                      <input type="text" class="form-control" id="" placeholder="API key ">
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-1 offset-sm-1">
                      <button type="submit" class="btn btn-primary">Save </button>
                  </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>  
</html>