<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<div class="container-fluid">
  <div class="row flex-nowrap">
      <%- include('../partials/sidebar'); %>
      <div class="col py-5">
        <h4 class="bg-dark text-white">UDP Setting : </h5>
          <br><br><br>
          <div class="container center_div">
            <form>
              <div class="row mb-4">
                  <label for="ip_server" class="col-sm-1 col-form-label">IP Server : </label>
                  <div class="col-sm-5">
                      <input type="text" class="form-control" id="ip_server" placeholder="151.122.290.101 ">
                  </div>
              </div>
              <div class="row mb-3">
                  <label for="port" class="col-sm-1 col-form-label">PORT : </label>
                  <div class="col-sm-5">
                      <input type="text" class="form-control" id="port" placeholder="8080 ">
                  </div>
              </div>
              <div class="row mb-3">
                <label for="device_id" class="col-sm-1 col-form-label">Device ID : </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="device_id" placeholder="000uxht ">
                </div>
            </div>

              <div class="row">
                  <div class="col-sm-1 offset-sm-1">
                      <button type="submit" class="btn btn-primary">Save </button>
                  </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>  
</html>